.library-card-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 2px;
    background: #FFFFFF;
    border: 0.7px solid transparent;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.library-card-container:hover{
    box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.05);
    border: 0.7px solid #FF6812; 
}

.library-card-container .library-header-container {
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.library-card-container .library-header-container label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    /* identical to box height */


    color: #313131;
    align-self: center;
    max-width: 90%;
    word-wrap: break-word;
    
}

.library-card-container .library-header-container .status-button {

    height: 25px;
    background: #D6FFF6;
    border-radius: 500px;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
    gap: 4px;
}

.library-card-container .library-header-container .status-button .circle {
    width: 25px;
    height: 25px;
    background: #00C49A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library-card-container .library-header-container .status-button span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #2D2B2B;
    text-transform: capitalize;
}

.library-card-container p {
    margin-top: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #384455;
    max-width: 100%;
    word-wrap: break-word;
}

.library-card-container .border {
    margin-top: 13px;
    border: 1px solid #F1F5F7;
}

.library-card-container .library-bottom-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.library-card-container .library-bottom-container .library-left-side {
    gap: 22px;
    display: flex;
    flex-direction: row;
}

.library-card-container .library-bottom-container .library-left-side span {
    margin-top: 14px;
    margin-bottom: 16px;
    gap: 5.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.library-card-container .library-bottom-container .library-left-side span:nth-child(3) p{
    color: #827C7C;
}
.library-card-container .library-bottom-container .library-left-side span:nth-child(4) div{
    display: flex;
}
.library-card-container .library-bottom-container .library-left-side span:nth-child(4) p{
    color: #827C7C;
}
.library-card-container .library-bottom-container .library-left-side span p {
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #F23E3E
}

.library-card-container .library-bottom-container .library-left-side span:nth-child(1):hover svg path{
    stroke: black;
}
.library-card-container .library-bottom-container .library-left-side span:nth-child(1):hover p{
    color: black;
}
.library-card-container .library-bottom-container .library-left-side span:nth-child(3):hover svg path{
    fill: black;
}
.library-card-container .library-bottom-container .library-left-side span:nth-child(3):hover p{
    color: black;
}
.library-card-container .library-bottom-container .library-left-side span:nth-child(4):hover svg path{
    stroke: black;
}
.library-card-container .library-bottom-container .library-left-side span:nth-child(4):hover p{
    color: black;
}
.library-card-container .library-bottom-container .library-left-side .card-border {
    border: 1px solid #F1F5F7;
    transform: rotate(180deg);
}

.library-card-container .library-bottom-container .library-right-side {
    gap: 20px;
    display: flex;
}

.library-card-container .library-bottom-container .library-right-side span {
    margin-top: 14px;
    margin-bottom: 16px;
    gap: 5.5px;
    display: flex;
    align-items: center;

}
.library-card-container .library-bottom-container .library-right-side span:nth-child(1) p{
    color: #827C7C;
}
.library-card-container .library-bottom-container .library-right-side span:nth-child(2) p{
    color: #827C7C;
}
.library-card-container .library-bottom-container .library-right-side span p {
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #F23E3E
}
.library-card-container .library-bottom-container .library-right-side span:nth-child(1):hover svg path{
    stroke: black;
}
.library-card-container .library-bottom-container .library-right-side span:nth-child(1):hover p{
    color: black;
}
.library-card-container .library-bottom-container .library-right-side span:nth-child(2):hover svg path{
    stroke: red;
}
.library-card-container .library-bottom-container .library-right-side span:nth-child(2):hover p{
    color: red;
}
.library-card-container .library-bottom-container .library-right-side .card-border {
    border: 1px solid #F1F5F7;
    transform: rotate(180deg);
}

.library-card-container .library-bottom-container .library-right-side .library-name-container {
    margin-top: 14px;
    padding: 0px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #FFFFFF;
    background-color: #384455;
    border-radius: 10px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    height: 20px;
}

.library-card-container .library-bottom-container .library-right-side label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #384455;
    margin-top: 14px;
    margin-bottom: 16px;
    text-align: center;
    width: 74px;
    align-self: center;
    
}

.library-card-container .library-bottom-container .draft-library-left-side {
    gap: 15px;
    display: flex;
    flex-direction: row;
    
}

.library-card-container .library-bottom-container .draft-library-left-side label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #384455;
    align-self: center;
    width: 74px;
    text-align: center;
}

.library-card-container .library-bottom-container .draft-library-left-side span {
    gap: 5.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.library-card-container .library-bottom-container .draft-library-left-side span:hover svg path{
    stroke: red;
}
.library-card-container .library-bottom-container .draft-library-left-side span:hover p{
    color: red;
}
.library-card-container .library-bottom-container .draft-library-left-side span p {
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #827C7C
}

.library-card-container .library-bottom-container .draft-library-left-side .card-border {
    border: 1px solid #F1F5F7;
    transform: rotate(180deg);
}

.library-card-container .library-bottom-container .draft-library-right-side{
        gap: 20px;
        display: flex;
}

.library-card-container .library-bottom-container .draft-library-right-side button{
    margin-top: 14px;
    margin-bottom: 16px;
   
    cursor: pointer;
    height: 30px;
    padding: 0px 18px;
    border: 0.5px solid #384455;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;

}

.library-card-container .library-bottom-container .draft-library-right-side button svg {
    margin-right: 10px;
}

.library-card-container .library-bottom-container .draft-library-right-side button span {
    font-size: 12px;
    color: #384455;
    font-family: 'Roboto', sans-serif;
}