.container {
    display: flex;
    flex-direction: column;
    background: #F1F5F7;
    height: calc(100vh - 70px);
    padding: 20px 40px;
    overflow: auto;
    position: relative;
}

.container .cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
.container .cardContainer .inviteCardMainContainer{
    width: 28vw;
    height: 6.75rem;
    display: flex;
    
}

.container .cardContainer .inviteCardMainContainer .inviteCard {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #FFFFFF;
    position: relative;
    padding-left: 27px;
    
}

.container .cardContainer .inviteCardMainContainer .inviteCard span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    letter-spacing: -0.01em;

    /* Neutral/04 */

    color: #6F767E;

}

.container .cardContainer .inviteCardMainContainer .inviteCard span .loader {
    margin-top: 10px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #00C49A;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    background: white;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container .cardContainer .inviteCardMainContainer .inviteCard span b {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height, or 192% */

    letter-spacing: -0.03em;

    /* Neutral/07 */

    color: #1A1D1F;
}


.container .cardContainer .inviteCardMainContainer .inviteCard meter::-webkit-meter-bar {
    width: 14vw;
    height: 6px;
    background-color: #F1F5F7;
    border-radius: 0px;
}

.container .cardContainer .inviteCardMainContainer .inviteCard meter::-webkit-meter-optimum-value {
    width: 17.6rem;
    height: 6px;
    background-color: #384455;
    border-radius: 0px;
}
.container .cardContainer .inviteCardMainContainer .icon-container{
    width: 25%;
    height: 100%;
    background: #384455;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 32px;
}

.container .buttonContainer div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */


    color: #010101;
}

.container .buttonContainer div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}


.container .buttonContainer div:nth-child(1) .dashboard-search-container {
    width: 28vw;
    height: 48px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    border-radius: 2px;
}



.container .buttonContainer div:nth-child(1) .dashboard-search-container input {
    outline: none;
    border: none;
    width: 80%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* or 146% */


    color: #55585D;
    
    
}
.container .buttonContainer div:nth-child(1) .dashboard-search-container:focus-within{
    border:1px solid #808080;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.container .buttonContainer div:nth-child(2) .createAssementButton {
    cursor: pointer;
    height: 45px;
    padding-left: 1vw;
    padding-right: 1vw;
    gap: 10px;
    background: #FF6812;
    border: 1px dashed #FF6812;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .buttonContainer div:nth-child(2) .createAssementButton:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.container .buttonContainer div:nth-child(2) .createAssementButton .header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    /* identical to box height, or 114% */

    letter-spacing: -0.01em;

    color: #FFFFFF;
}

.container .buttonContainer div:nth-child(2) .createQuestionButton {
    cursor: pointer;
    height: 45px;
    padding-left: 1vw;
    padding-right: 1vw;
    gap: 10px;
    background: #00C49A;
    border: 1px dashed #00C49A;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .buttonContainer div:nth-child(2) .createQuestionButton:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.container .buttonContainer div:nth-child(2) .createQuestionButton .header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    /* identical to box height, or 114% */

    letter-spacing: -0.01em;

    color: #FFFFFF;
}

.container .see-all-button{
    width: 5%;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    /* identical to box height, or 114% */

    letter-spacing: -0.01em;

    color: #010101;
}

.container .see-all-button:hover{
    text-decoration: underline;
}