.loader-card-container {
    padding: 20px;
    border-radius: 2px;
    background: #FFFFFF;
    border: 0.7px solid transparent;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loader-card-container:hover {
    box-shadow: 0px 15px 20px -3px rgba(0, 0, 0, 0.05);
    border: 0.7px solid #FF6812;
}

.loader-card-container .left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    color: #313131;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.loader-card-container .left-side .header {
    width: 30vw;
    height: 25px;
}

.loader-card-container .left-side button {
    border: none;
}

.loader-card-container .left-side .info {
    width: 35vw;
    height: 14px;
}


.loader-card-container .left-side .bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 31px;
}

.loader-card-container .left-side .bottom-container .toggle {
    width: 30px;
    height: 14px;
}

.loader-card-container .left-side .bottom-container .box {
    display: flex;
    align-items: center;
    width: 80px;
    height: 14px;
    gap: 5px
}



.loader-card-container .right-side {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.loader-card-container .right-side .header {
    display: flex;
    flex-direction: column;
}

.loader-card-container .right-side .header span {
    align-self: flex-end;
    width: 50px;
    height: 30px;
}


.loader-card-container .right-side .header p {
    align-self: flex-end;
    margin-top: 10px;
    width: 120px;
    height: 16px;
}

.loader-card-container .right-side .bottom-container {
    display: flex;
    gap: 20px;
}

.loader-card-container .right-side .bottom-container button {
    height: 30px;
    display: flex;
    align-items: center;
    width: 10vw;
    border: none;
}

.skeleton {
    background-color: #e3e3e3 !important;
    border-radius: 10px;
    position: relative;
    width: 100%;
}

.skeleton::after {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 20%,
            transparent);
    animation: shimmer 2s infinite;
    content: "";
}

@keyframes shimmer {
    90% {
        transform: translateX(80%);
    }
}