.CreateTest2Sidebar {
    width: 20vw;
    height: 100%;
    background-color: #384455;
    padding: 51px 6px 50px 40px;
    box-sizing: border-box;
    overflow: auto;
}

.CreateTest2Sidebar::-webkit-scrollbar {
    display: none;
}

.CreateTest2Sidebar .info-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.CreateTest2Sidebar .info-panel .heading span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

.CreateTest2Sidebar .info-panel .heading p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;

    margin-top: 8px;
}

.CreateTest2Sidebar .info-panel .info {
    margin-top: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.CreateTest2Sidebar .info-panel .info .ver-line {
    margin-left: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.CreateTest2Sidebar .info-panel .info .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.CreateTest2Sidebar .info-panel .info .title span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}