.navigation-bar {
    width: 100vw;
    height: 70px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    z-index: 10;
}

.navigation-bar .row {
    display: flex;
    align-items: center;
}


.navigation-bar button {
    height: 38px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.navigation-bar button svg {
    margin-right: 10px;
}

/* Left Side */

.navigation-bar .left-side .custom-button {
    width: 139px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #FEE9E1;
    border-radius: 2px;
    margin-right: 30px;
}

.navigation-bar .left-side .custom-button span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #333333;
}

.navigation-bar .left-side .assessment-button {
    width: 189px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #FEE9E1;
    border-radius: 2px;
    margin-right: 30px;
}

.navigation-bar .left-side .assessment-button span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #333333;
}

.navigation-bar .left-side .test-setting-preview {
    width: 100px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #D9D9D9;
    border-radius: 2px;
    margin-right: 10px;
}

.navigation-bar .left-side .test-setting-preview span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #333333;
}

.navigation-bar .left-side .save-as-draft-button {
    width: 141px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #D9D9D9;
    border-radius: 2px;
    margin-right: 30px;
}

.navigation-bar .left-side .save-as-draft-button span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #333333;
}

.navigation-bar .left-side img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 25px;
}

.navigation-bar .notification {
    position: relative;
    cursor: pointer;
}

.navigation-bar .department-container{
    display: flex;
    width: auto;
    height: 30px;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    background-color: #FF6812;
    border-radius: 15px;

    font-family: 'Nunito';
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #fff;
    margin-right: 10px;
}

.navigation-bar .notification .notification-alert {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #EA3A3D;
    position: absolute;
    top: 0px;
    right: 0px;
}

.navigation-bar .left-side svg {
    cursor: pointer;
}